### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
number_of_players=len(purchase_data["SN"].unique())
print(number_of_players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
different_items=(len(purchase_data["Item ID"].unique()))
print(f"Unique Item Count: {different_items}")

average_price=purchase_data["Price"].mean()
print(f"Average Price: {average_price}")

purchase_count=len(purchase_data["Purchase ID"])
print(f"Number of Purchases: {purchase_count}")

revenue=purchase_data['Price'].sum()
print(f"Total Revenue: {revenue}")

purchase_analysis_df= pd.DataFrame(
                        {"Unique Item Count": [different_items],
                        "Average Price": [average_price],
                        "Number of Purchases": [purchase_count],
                        "Total Revenue": [revenue]})
purchase_analysis_df.head()

Unique Item Count: 179
Average Price: 3.050987179487176
Number of Purchases: 780
Total Revenue: 2379.77

   Unique Item Count  Average Price  Number of Purchases  Total Revenue
0                179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
dropped_dups_df=purchase_data.drop_duplicates(subset="SN", keep="first")
dropped_dups_df["Gender"].value_counts()
gender_analysis = dropped_dups_df["Gender"].value_counts().rename_axis('Gender').reset_index(name='Counts')
gender_analysis["Percent"]=(gender_analysis["Counts"]/(len(dropped_dups_df))) * 100
gender_analysis=gender_analysis.round(2)
gender_analysis.head()

                  Gender  Counts  Percent
0                   Male     484    84.03
1                 Female      81    14.06
2  Other / Non-Disclosed      11     1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_purchase_df=purchase_data.groupby(["Gender"])
total_purchase_count=gender_purchase_df["Purchase ID"].count()
avg_purchase=(gender_purchase_df["Price"].mean()).round(2)
total_value=gender_purchase_df["Price"].sum()
per_person_avg=(total_value/gender_purchase_df["Gender"].count()).round(2)

gender_df=pd.DataFrame({"Purchase Count": total_purchase_count,
                       "Average Purchase Price": avg_purchase,
                       "Total Purchase Value": total_value,
                       "Average Purchase Total by Person": per_person_avg})

gender_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total by Person
Gender,,,,
Female,113,3.20,361.94,3.20
Male,652,3.02,1967.64,3.02
Other / Non-Disclosed,15,3.35,50.19,3.35

In [6]:
gender_purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
age_bins=[0, 9, 14, 19, 24, 29, 34, 39, 150]
age_labels=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

dropped_dups_df["Age Ranges"] = pd.cut(dropped_dups_df["Age"], age_bins, labels=age_labels, include_lowest=True)
age_range_df=pd.DataFrame(dropped_dups_df["Age Ranges"].value_counts())
age_range_df["Percentage of Players"]=((age_range_df["Age Ranges"]/(age_range_df["Age Ranges"].sum())) * 100).round(2)
age_range_df.sort_index()

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

       Age Ranges  Percentage of Players
<10            17                   2.95
10-14          22                   3.82
15-19         107                  18.58
20-24         258                  44.79
25-29          77                  13.37
30-34          52                   9.03
35-39          31                   5.38
40+            12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels, include_lowest=True)
pdata_agebins=purchase_data.groupby("Age Ranges")
pdata_agebins.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,132,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,25-29
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,25-29
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,<10
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+

In [9]:
age_t_count=pdata_agebins["Purchase ID"].count()
age_avg_price=(pdata_agebins["Price"].mean()).round(2)
age_t_value=pdata_agebins["Price"].sum()
age_personavg=(age_t_value/age_range_df["Age Ranges"]).round(2)

age_panalysis_df=pd.DataFrame({"Purchase Count": age_t_count,
                              "Average Purchase Price": age_avg_price,
                              "Total Purchase Value": age_t_value,
                              "Average Total Purchase Per Person": age_personavg})
age_panalysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [11]:
sn_groups=purchase_data.groupby(["SN"])
sn_groups_df=pd.DataFrame(sn_groups["Price"].sum())


sn_groups_df["Purchase Count"]=(sn_groups["Purchase ID"].count())
sn_groups_df["Average Purchase Price"]=(sn_groups_df["Price"]/sn_groups_df["Purchase Count"]).round(2)
sn_groups_df=sn_groups_df.rename(columns={"Price":"Total Price"})


top_spenders_df=sn_groups_df.sort_values("Total Price", ascending=False)
top_spenders_df.head()

             Total Price  Purchase Count  Average Purchase Price
SN
Lisosia93          18.96               5                    3.79
Idastidru52        15.45               4                    3.86
Chamjask73         13.83               3                    4.61
Iral74             13.62               4                    3.40
Iskadarya95        13.10               3                    4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
item_df=purchase_data[["Item ID", "Item Name", "Price"]]
item_groups=item_df.groupby(["Item ID","Item Name"])

item_pcount=item_groups["Item ID"].count()
item_pshow=(item_groups["Price"].sum()/item_pcount).round(2)
item_pvalue=item_groups["Price"].sum()

top_items_df=pd.DataFrame({"Purchase Count": item_pcount,
                          "Price": item_pshow,
                          "Total Purchase Value": item_pvalue})
top_items_df.sort_values("Purchase Count", ascending= False)

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
...,...,...,...,...
42,The Decapitator,1,1.75,1.75
51,Endbringer,1,4.66,4.66
118,"Ghost Reaver, Longsword of Magic",1,2.17,2.17
104,Gladiator's Glaive,1,1.93,1.93
91,Celeste,1,4.17,4.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
sorted_item_df=top_items_df.sort_values("Total Purchase Value", ascending=False)
sorted_item_df.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80